* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #0e0e0e;
    text-decoration: none;
}

.logo {
    width: 150px;
}

h1 {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    padding: 1%;
    background-color: #ffffff;
    color: #244386;
    border-radius: 10px;
}

p {
    margin: 2%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

body {
    background-image: linear-gradient(to right, rgb(174, 0, 255), rgb(47, 0, 85));
    ;
    width: 100%;
    height: 100vh;
    position: relative;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    height: 80px;
}

/* .container {
    display: flex;
    align-items: stretch;
    width: 350px;
    height: 550px;
    position: absolute;
} */

.container {
    display: flex;
    /* flex-direction:row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items:stretch; */
    /* align-content:center; */
}

.container .pessoa {
    margin: 3%;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .pessoa .foto {
    width: 300px;
    height: 300px;
    margin: auto;

}

.container .pessoa .foto .foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list .botoes {
    color: #ffffff;
    background-color: #244386;
    border-radius: 15px;
    padding: 15px;
}

.botoes:hover {
    transition: 0.5s;
    border: 1px solid #244386;
    color: #244386;
    background-color: #fff;
}

#quadro_funcionarios {
    display: flex;
    justify-content: center;
    color: #244386;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    font-size: 24px;
    line-height: 200%;
}

a.redes {
    color: #ffffff;
    border-radius: 15px;
    padding: 7px;
}

.carousel-container {
    position: relative;
    width: 40%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: carouselAnimation 15s infinite;
}

@keyframes carouselAnimation {
    0%, 100% { transform: translateX(0%); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
}

.carousel input {
    display: none;
}

.carousel img {
    width: 100%;
    height: auto;
}

.slide {
    flex: 0 0 100%;
}

@media (max-width: 760px) {
    nav {
        display: flex;
        font-size: 10px;
    }

    .nav-list .botoes {
        padding: 10px;
        margin-left: 1px;
    }
}